<a href="https://colab.research.google.com/github/avs20/ChotaML/blob/master/3.%20Train_Test_Split.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd 
import numpy as np

In [10]:
features = [1,2,3,4,5,6,7,8,9,10]
output  =  [1,4,9,16,25,216,343,512,729,1000]

data = pd.DataFrame({'input':features, 'output':output})
data

   input  output
0      1       1
1      2       4
2      3       9
3      4      16
4      5      25
5      6     216
6      7     343
7      8     512
8      9     729
9     10    1000

In [11]:
data_arr = data.values

## Simple Split

Take first 8 as train and last 2 as test

In [16]:
X_train = data_arr[:8,0]
X_test = data_arr[8:,0]
y_train = data_arr[:8,1]
y_test = data_arr[8:,1]

print(X_train, X_test, y_train, y_test)

[1 2 3 4 5 6 7 8] [ 9 10] [  1   4   9  16  25 216 343 512] [ 729 1000]

In [17]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(data_arr[:,0], data_arr[:,1], test_size = 0.2)

print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(8,)
(2,)
(8,)
(2,)

In [18]:
print(X_train)

[ 1  9  6  4  7  8  5 10]

In [19]:
print(X_test)

[2 3]